* {
	margin: 0;
	padding: 0;
}




body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #555;
	
}

h1 {
	font-size: 70px;
	color: #ec8301;
	font-weight: 300;
}

h2 {
	font-size: 40px;
	color: #fff;
	font-weight: normal;
}

h3 {
	font-size: 30px;
	color: #ec8301;
	font-weight: bold;
}

h4 {
	font-size: 25px;
	color: #ec8301;
	font-weight: 300;
	
}

h6 {
	font-size: 12px;
	color: #555;
}


.primary {
	color: #ec8301;
}

.primary-bg {
	background-color: #fff;
}

.secondary-dark-blue {
	color: #34495e;
}

.secondary-dark-blue-bg {
	border-bottom: 1px solid #6f6f6f;
	background-color: rgba(117, 117, 117, 0.9);
	-webkit-transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  	transition:         all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
	 
}

.secondary-sky-blue {
	color: #2d82d8;
}

.secondary-sky-blue-bg {
	color: #2d82d8;
}

.zp {
    position: relative;
    z-index: 10;
}

.zp2 {
	position: relative;
	z-index: 9;
}

.zp1 {
	z-index: -1;
}

.zp4 {
	position: absolute;
	z-index: 9999;
}

.zp3 {
	position: absolute;
	z-index: 99;
}

a:focus {
	outline: 0; /** removed the outline in nav link **/
}
	
ol, ul {
	margin-bottom: 0;
}

ul {
	list-style: none;
}
 ul li {
	display: inline-block;
}



.section-padding1 {
	padding: 100px 0 105px 0;
}

.section-padding2 {
    padding: 350px 0 100px 0;
}

.section-padding3 {
	padding: 60px 0 70px 0;
}

.section-padding4 {
	padding: 80px 0 70px 0;
}

.section-padding5 {
	padding: 50px 0;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}






